@import url(./assets/fonts.css);
::-webkit-scrollbar {
    display: none;
}
:root {
    --light-bg: url(./assets/bg-2.png);
    --light-body-bg: url(./assets/bg-1.svg);
    --moon: url(./assets/moon-solid.svg);
    --red-text: #e2001e;
    --month-num: #c4c4c4;
    --shadwo-month: #00000070;
    --month-border: #9e9e9e;
    --backward-forward: #00000090;
    --date-color: #313131;
    --sunday: #ff0040;
    --saturday: #2b62e2;
    --left-month-name: #ef0000;
    --right-month-color: #000000;
    --gradient: linear-gradient(#f00, #aa0000);
}
.dark {
    --light-bg: url(./assets/dark-bg.png);
    --light-body-bg: #222;
    --moon: url(./assets/sun-solid.svg);
    --red-text: linear-gradient(0deg, #ff0040, #ff0055);
    --month-num: #dadada;
    --shadwo-month: #00000070;
    --month-border: #9e9e9e;
    --backward-forward: #ffffff90;
    --date-color: #cacaca;
    --saturday: #2b9fe2;
    --left-month-name: #e7003a;
    --right-month-color: #ffffff;
    --gradient: linear-gradient(#ff0000, #ff00dd);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", cursive;
}
body {
    width: 100vw;
    height: 100vh;
    background: var(--light-body-bg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
}
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97.5%;
    height: 100vh;
    position: relative;
}
.left .themeSwitch {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 30px;
    left: 20px;
    background: var(--date-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.left .themeSwitch .switch {
    content: var(--moon);
    width: 20px;
    height: 20px;
}
.left .heading {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left .heading-line {
    margin-top: 5px;
    width: 45%;
    height: 4px;
    border: 1px solid #ff0040;
    border-radius: 3px;
}
.left .quote {
    display: flex;
    flex-direction: column;
    padding: 17px;
    margin-bottom: 20px;
    font-size: 17.5px;
    color: var(--date-color);
}
.left .quote .lbl-two {
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
}
.left .wrapper {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.left .top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.left .top .year-num {
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    font-weight: bolder;
    background: var(--red-text);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.left .backward,
.left .forward {
    font-family: "Dancing Script", cursive;
    cursor: pointer;
    width: 33%;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    color: var(--backward-forward);
}
.left .buttom {
    background: var(--light-bg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    width: 95%;
    padding: 15px;
    box-shadow: 0 0 25px var(--shadwo-month);
    border-radius: 7.5px;
    overflow: hidden;
    transition: 0.3s ease;
}
.left .buttom.animation {
    animation: 0.3s animate linear;
}
.left .month-num {
    position: absolute;
    right: 35px;
    color: var(--month-num);
    font-size: 75px;
    font-weight: bold;
}
.left .month-name {
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--left-month-name);
}
.border {
    width: 60%;
    height: 1px;
    background: var(--month-border);
    margin: 5px 0px;
}
.left .buttom .bar,
.left .buttom .dates {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    grid-gap: 10px;
    grid-row-gap: 8px;
    justify-items: center;
    align-items: center;
    font-size: 15px;
    color: var(--date-color);
}
.left .buttom .dates {
    grid-template-rows: repeat(6, 1fr);
}
.bar {
    font-weight: bold;
}
.sunday {
    color: var(--sunday);
}
.saturday {
    color: var(--saturday);
}

/* right side designe */

.right {
    width: 100%;
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 12px;
    padding: 0 10px 0 0;
}
.right .months {
    background: var(--light-bg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px var(--shadwo-month);
    padding: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
.right .months:hover {
    transform: scale(1.05);
}

.right .month-num {
    position: absolute;
    right: 25px;
    top: 15px;
    color: var(--month-num);
    font-weight: bold;
    font-size: 35px;
}
.right .month-name {
    font-family: "Dancing Script", cursive;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--right-month-color);
}
.right .border {
    margin: 2px 0px;
    background-color: var(--month-border);
    width: 55%;
}
.right .bar,
.right .dates {
    width: 55%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    justify-items: center;
    align-items: center;
    font-size: 10px;
    color: var(--date-color);
}
.right .dates {
    grid-template-rows: repeat(7, 1fr);
}
@keyframes animate {
    0% {
        transform: scale(0.85);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
@media screen and (max-width: 1060px) {
    body {
        overflow-y: scroll;
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left .heading,
    .left .heading-line,
    .left .buttom,
    .left .quote {
        display: none;
    }
    .left {
        height: 90px;
    }
    .left .wrapper {
        height: 90px;
    }
    .right {
        padding-left: 10px;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 650px) {
    .right {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        height: auto;
    }
    .left {
        position: static;
    }
    .left .themeSwitch {
        top: 10px;
        left: 10px;
    }
    .left .backward,
    .left .forward {
        font-size: 20px;
        text-align: right;
        padding: 20px;
    }
    .left .forward {
        text-align: left;
    }
}
